body{
    margin: 0;
}
nav{
    height: 70px;
    width: 100vw;
    background-color: aqua;
    position: fixed;
    top: 0;
}
.fantasma{
    position: static;
}
.header{
    text-align: center;
    height: 20vh;
    background-color: aquamarine;
}
h2{
    display: inline-block;
}
h4{
    display: inline-block;
}
.content{
    padding: 4vh 4vw;
    text-align: justify;
    height: 80vh;
    background-color: #8A8A8A;
}
footer{
    background-color: #132E34;
    color: #2C7281;
    padding: 3vh 3vw;
}
input{
    margin: 3px;
}