body{
    margin: 0;
}
nav{
    height: 70px;
    width: 100vw;
    background-color: aqua;
    position: fixed;
    top: 0;
}
.fantasma{
    position: static;
}
.header{
    height: 20vh;
    background-color: aquamarine;
}
h2{
    display: inline-block;
}
h4{
    display: inline-block;
}
.content{
    height: 80vh;
    background-color: aliceblue;
}